services:
  mongo:
    image: mongo:7
    container_name: chatui-mongo
    networks: [nginx]
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  chatui:
    image: ghcr.io/huggingface/chat-ui:0.8.4
    container_name: chatui
    networks: [nginx]
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    env_file:
      - chatui.env
    volumes:
      - chatui-data:/data

volumes:
  chatui-data:
  mongo-data:

networks:
  model-service_nginx:
    external: true
    name: model-service_nginx